*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body{
  height: 100%;
}

/* BODY */
body{
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

/* HEADER */

.topo{
  width: 100%;
  background: #1f7a37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}

/* imagem e nome do sistema*/
.logo{
  display: flex; /*alinha na mesma linha*/
  align-items: center;
  gap: 12px;
  color: white;
}

/*tamanho da imagem usada*/
.logo img{
  width: 55px;
  height: 55px;
}

.logo h2{ /*text da logo*/
  font-size: 22px;
  line-height: 1;
}

.menu{ /*coloca os links na horizontal*/
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a{ /*cor e tira o sublinhado dos links*/
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.menu a:hover{
  text-decoration: underline;
}

.menu button{
  background: #b9dfc8;
  color: #1f7a37;
  border: none;
  border-radius: 8px;
  padding: 5px 5px;
  cursor: pointer;
  font-weight: bold;
}

.menu button:hover{
  background: #4fa36b;
  color: white;
}


/* CONTEÚDO DAS QUESTÕES */

.conteudo{
  text-align: center;
  flex: 1;
  background: #104d20;
  padding: 40px 20px;
  color: white;
}

.conteudo h1{
  text-align: center;
  font-size: 42px;
}

.conteudo p{
  text-align: center;
  font-size: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.conteudo button{
  text-align: center;
  background: #b9dfc8;
  color: #1f7a37;
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: bold;
}

.conteudo button:hover{
  background: #4fa36b;
  color: white;
}

.conteudo input{
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.questao{
  width: 70%;
  margin: 20px auto;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.questao h3{
  margin-bottom: 10px;
}

.questao p{
  margin-bottom: 15px;
}


.temas{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 por linha */
  gap: 25px;
  justify-items: center;
}

.card{
  width: 160px; /* menor */
  text-align: center;
}

.circulo{
  width: 110px;   /* menor */
  height: 110px;  /* menor */
  background: #b9dfc8;
  border: 5px solid #4fa36b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.circulo img{
  width: 60px;   /* menor */
  height: 60px;  /* menor */
  object-fit: contain;
}

.card h3{
  font-size: 16px; /* menor texto */
  color: white;
  font-weight: 500;
}


/* FOOTER (IGUAL AO OUTRO SITE) */

.rodape{
  align-items: center;
  background: #1f7a37;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 30px;
  color: white;
}

.footer-links,
.footer-contato,
.footer-redes,
.footer-logo{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a{
  text-decoration: none;
  color: white;
}

.footer-links a:hover{
  text-decoration: underline;
}

.icons{
  display: flex;
  gap: 15px;
  font-size: 28px;
}

.footer-logo p{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-row{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.form-row input{
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.form-row button{
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #b9dfc8;
  font-weight: bold;
}

.form-row button:hover{
  background: #4fa36b;
  color: white;
}

table{
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  background: white;
  color: black;
}

th{
  background: #1f7a37;
  color: white;
}

th,
td{
  padding: 12px;
  border: 1px solid #ddd;
}

tr:nth-child(even){
  background: #f5f5f5;
}

#message{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 900px){

  .topo{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .menu{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .conteudo h1{
    font-size: 32px;
  }

  .conteudo p{
    font-size: 16px;
  }

  .temas{
    grid-template-columns: repeat(2, 1fr);
  }

  .card{
    width: 140px;
  }

  .circulo{
    width: 90px;
    height: 90px;
  }

  .circulo img{
    width: 50px;
    height: 50px;
  }

  .questao{
    width: 95%;
  }

  .form-row{
    flex-direction: column;
    align-items: center;
  }

  table{
    display: block;
    overflow-x: auto;
  }

  .rodape{
    text-align: center;
    justify-content: center;
  }
}