*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*remoção de margens e espaçamentos padrões*/

html,
body{
  height: 100%;
}
/*ocupação total da tela*/
body{
  height: 100%;
  display: flex;
  flex-direction: column; /* Organiza os elementos em formato de coluna */
  font-family: Arial, sans-serif;
  background:#205522;
  color: #1b5e20; /* Define a cor padrão dos textos */
}

/* CONTEÚDO PRINCIPAL */

.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; /* Centraliza todo o conteúdo horizontalmente e verticalmente */
  text-align: center; /* Centraliza os textos */
  background: #f8f3e2; /*fundo do card maior*/
  margin: 40px;
  padding: 60px 30px; /* Define espaçamentos externos e internos */
  border-radius: 20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/*textos*/

.container h1{
  font-size: 32px;
  color: #2e7d32;
  margin-bottom: 15px;
}

.container p{
  font-size: 16px;
  color: #33691e;
  margin-bottom: 30px;
}

/*botões*/

.botoes{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.botao{
  background: #3c8340;
  color: white;
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px){

  .container{
    margin: 20px;
    padding: 40px 20px;
  }

  .container h1{
    font-size: 28px;
  }

  .container p{
    font-size: 15px;
  }

  .botoes{
    flex-direction: column;
    align-items: center;
  }

  .rodape{
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
  }
}